# Core AI
torch
numpy
pandas
opencv-python
pillow

# Face Emotion
deepface
tf-keras  # DeepFace backend

# Audio Emotion
librosa
soundfile
transformers
scipy

# Utilities
tqdm
moviepy  # To extract audio from video